.rs-select2 select {
  border: none;
  color: #666;
  font-weight: 500;
  font-size: 16px;
  padding: 9px 150px 9px 0;
}
.errorMessage {
  color: crimson
}
.input-border {
  position: relative;
  margin-bottom: 32px;
  border-bottom: 1px solid crimson;
}

input[type="date"]:before {
  color: #666;
  content: attr(placeholder);
  margin-right: 0.5em;
}
input[type="date"] {
  font-size: 14px;
  padding: 8px;
}
input[type="date"]:focus:before {
  color: #666;
  content: '' !important;
}